<div class="row">
  <div class="col-xs-12">
    <img src="assets/img/background.png" width="100%">

  </div>
  <div class="col-xs-12 col-sm-8">
    <h1>Maximiliano Ungredda</h1>
  </div>
  <div class="col-xs-12 col-sm-4">
    <h2 class="pull-right-md">
      <a href="">
        <img src="assets/img/LinkedIN.png" alt="linkedIn" width="40px">
      </a>
      <a href="">
        <img src="assets/img/Twitter.png" alt="Twitter" width="40px">
      </a>
      <a href="https://github.com/smartmaxdev">
        <img src="assets/img/github-logo.jpg" alt="Github" width="40px">
      </a>
    </h2>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-8">
    <p>I’m a Software Engineer with experience developing web-based applications. <p>
    I have professional experience using PHP(Laravel, Magento, Symfony Framework), as well as the JavaScript frameworks AngularJS, VueJS, Node.js, and JQuery to build dynamic web applications.<p>
    Listed below are my experience and skills: <br>
    - Laravel, Magento, Symfony Frameworks; <br>
- AngularJS, Node.js, Express, React.js; <br>
- Google Maps API, Mapbox API, OpenStreetMap API; <br>
- HTML5, CSS3; <br>
- JavaScript, jQuery, Typescript; <br>
- Bootstrap, Twitter Bootstrap, Materializecss; <br>
- E-commerce, Shopify, Payment Integration; <br>
- MySQL, MongoDB, Redis, PostgreSQL; <br>
- SASS, Compass, Gulp, Webpack; <br>
- Swift<p>
I am an expert programmer and write robust and bug-free codes at the very first instance. <p>
I am excellent at writing efficient, maintainable and reusable code and I am also proficient in design, data structures, problem-solving, and QA testing. <p>
I also have strong knowledge of Object-Oriented programming and Software engineering.
I am also a fast learner, excellent problem solver. adaptability, strong work ethic, great time management skills, critical thinker, and excellent communication skills.<p>
After seeing my quality of work and the cooperation offered to you even after the work has been delivered to you, you’ll come to me again and again to avail my services.<p>
I can achieve the results that you are asking for within your timeframe and budget.<p>
I am confident I can exceed your expectations and I would love to work on your project. <p>

</p>

  </div>

  <div class="col-xs-12 col-md-4">

  </div>
</div>
